.centerMap {
    margin: auto;
    width: 60%;
    border: 3px solid black;
    padding: 0px;
    text-align: center;
}
.body{
    text-align: center;
}
.post{
    margin: auto;
    width: 30%; 
    border: 3px solid black;
    padding: 4px;
    text-align: center;
}

input[type = "text"] {
    font-size:30.97px;
}

#map {
    height: 500px;
    /* The height is 400 pixels */
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 5px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(46, 13, 122);
}
  
li {
    float: left;
}
ri{
    float: right;
}
ri a{
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ri a:hover {
    background-color: blue;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: blue;
}
body {
    background-color: white;
}
h1 {
    color: blue;
}
p {
    color: blue;
}