<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="posts.html">Create</a></li>
        <li><a class="active" href="about.html">About</a></li>
        <ri><a href="signup">Log In</a></ri>
    </ul>
    <div class = "aboutText"> 
        <h1>About Us</h1>
        <p>We are a group of friends that are trying to help females and other members of our community. This is a service that allows you to report sightings of suspicious behavior and allow everyone around your area to be aware of it. We hope to make our neighborhoods a safer place to be in.</p>
        <p>Have any questions? Call us at XXX-XXX-XXXX</p>
    </div>
    <div class="aboutUs">
        <div class="aboutSomeone">
            <img class = "aboutImage" src="https://cdn.discordapp.com/attachments/746245316461985875/985680982751473714/68985066-590E-4110-9199-9F6DFBCA97E5.jpg">
            <p>Jiarong Zhang</p>
            <p>Rising senior</p>
        </div>
        <div class="aboutSomeone">
            <img class = "aboutImage" src="https://cdn.discordapp.com/attachments/746245316461985875/985346981457178714/7202C907-452A-44E4-8C73-64973746571B.jpg">
            <p> Patrick Li</p>
            <p>Rising senior</p>
        </div>
        <div class="aboutSomeone">
            <img class="aboutImage" src="https://cdn.discordapp.com/attachments/746245316461985875/985680982520774776/EBC52972-F4D5-493B-8B70-2C4F5B592637.jpg">
            <p> Timothy Hu</p>
            <p> Rising senior</p>
        </div>
        <div class="aboutSomeone">
            <img class="aboutImage" src="https://cdn.discordapp.com/attachments/746245316461985875/985346982220562473/E4C42611-3DB5-4465-B957-84E51A2119F0.jpg">
            <p> Richard Yuan</p>
            <p> Rising senior</p>
        </div>
    </div>
    
</body>
</html>