<!DOCTYPE html>
<html lang="en">
    <style>
        img {
            float: left;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="about.html">About</a></li>
        <ri><a href="">Log In</a></ri>
    </ul>
    <div class = "aboutText"> 
        <h1>About Us</h1>
        <p>We are a group of friends that are trying to help females and other members of our community. This is a service that allows you to report sightings of suspicious behavior and allow everyone around your area to be aware of it. We hope to make our neighborhoods a safer place to be in.</p>
    </div>
    <div class="aboutUs">
        <div class="aboutSomeone">
            <img class = "aboutImage" src="https://cdn.discordapp.com/attachments/746245316461985875/985346981239066624/5621F4E2-6C8A-4FC5-A4AC-540FC4239927.jpg">
            <p>Jiarong Zhang: I am a member of the lgbtq community</p>
        </div>
        <div class="aboutSomeone">
            <img class = "aboutImage" src="https://cdn.discordapp.com/attachments/746245316461985875/985346981457178714/7202C907-452A-44E4-8C73-64973746571B.jpg">
            <p> Patrick Li: me too </p>
        </div>
        <div class="aboutSomeone">
            <img class="aboutImage" src="https://cdn.discordapp.com/attachments/746245316461985875/985346981822091344/A0C5067E-7833-4677-A1CD-EA58C81400CC.jpg">
            <p> Timothy Hu: i fumbled 4 girls</p>
        </div>
        <div class="aboutSomeone">
            <img class="aboutImage" src="https://cdn.discordapp.com/attachments/746245316461985875/985346982220562473/E4C42611-3DB5-4465-B957-84E51A2119F0.jpg">
            <p> Richard Yuan: this is some information about him<p>
        </div>
        <div class = "aboutText">
            <p>Have any questions? Contact us at XXX-XXX-XXXX</p>
        </div>
    </div>
    
</body>
</html>
