<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "body"> 
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="about.html">About</a></li>
            <ri><a href="login.html">Log In</a></ri>
        </ul>
        
    </div>
</body>
</html>