<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src = "../static/js/index.js"></script>
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Log In</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">About</a></li>
    </ul>
    FIRST PAGE!
    <h1>Hello World</h1>
    <p>Testing</p>
    <h1>Test2</h1>
    <p>Testing2</p>
    <h1>
        Chenguo
    </h1>
    <div class="centerMap">
        <h1>THIS IS A MAP</h1>
    </div>
</body>
</html>