<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>

    <title>Document</title>
</head>

<body>
    <div class="body">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="posts.html">Create</a></li>
            <li><a href="about.html">About</a></li>
            <ri><a href="signup">Log In</a></ri>
        </ul>

        <div class="centerMap">
            <div id="map"></div>
            <div id="entCoords">
                <form onsubmit="return process();">
                    <label for="coordinates">Enter coordinates</label>
                    <input type="text" id="coordinates" name="coordinates">
                </form>
            </div>
        </div>

        <h1>Address</h1>
        <form method="post" action="/" autocomplete="off" onsubmit = "return address();">
            <label for="address" class="form-label"></label>
            <input type="text" class="form-control form-control-lg" type="address" id="address" name="address"
                placeholder="Address" cols="45">
        </form>

        {% if wrong %}
        <p style="color: red;">Use a real address</p>
        {% endif %}


        {% if active %}
        <div class="post-thing">
            <h1>Posts Near You:</h1>
            {% for thing in obj %}
            <div class="post-box">
                <h1>{{thing['title']}}</h1>
                <p>{{thing['content']}}</p>
                <p>Address: {{thing['address']}}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <script src="../static/js/index.js"></script>
    </div>

</body>

</html>